<div class="row m-4">
  <h1>Cursos</h1>
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      <tr>
        <th>Nome</th>
        <th>Link</th>
        <th class="text-center">
          <a
            [routerLink]="['/cursos/cadastrar']"
            href="#"
            title="Novo"
            alt="Novo"
            class="btn btn-success"
          >
            <i class="fa fa-plus mx-1" aria-hidden="true"></i>Novo
          </a>
        </th>
      </tr>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.nome }}</td>
        <td>{{ curso.link }}</td>
        <td class="text-center" style="width: 300px">
          <a
            [routerLink]="['/cursos/editar', curso.id]"
            href="#"
            title="Editar"
            alt="Editar"
            class="btn btn-info mx-2"
          >
            <i class="fa fa-edit mx-1" aria-hidden="true"></i>Editar
          </a>
          <a
            (click)="remover($event, curso)"
            href="#"
            title="Remover"
            alt="Remover"
            class="btn btn-danger"
          >
            <i class="fa fa-times mx-1" aria-hidden="true"></i>Remover
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="cursos.length === 0">Nenhum curso cadastrado</p>
  <div class="row">
    <div class="col">
      <a
        [routerLink]="['/alunos']"
        href="#"
        title="alunos"
        alt="alunos"
        class="btn btn-primary mx-2"
      >
        Visualizar página de Alunos
      </a>
    </div>
  </div>
</div>
